/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
}

form {
  margin-top: 2rem;
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  border: 1px solid black;
}

form > input {
  outline: none;
  border: none;
  padding: 5px;
}

form > button {
  padding: 0px 12px;
  outline: none;
  border: none;
  background-color: white;
}

button:hover {
  cursor: grab;
  background-color: #e3e5e8;
}

.current-day {
  position: absolute;
  top: 40%;
  left: 10%;
}
